.drop-cap > p:first-of-type::first-letter {
  float: inline-start;
  padding-inline-end: 0.075em;
  margin-block-start: -0.1em;

  font-size: 3.2lh;
  @include apply-utility("weight", "black");
  line-height: 1;
}
