.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--flow-space);
    // Set a sensible default which can be overridden in blocks
    --min-width: 25rem;
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc(( var(--min-width) - 100%) * 999);
}

.switcher > :nth-last-child(n+3),
.switcher > :nth-last-child(n+3) ~ * {
    flex-basis: 100%;
}
