.site-header {
    padding: get-size('l') 0;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__brand {
        flex-shrink: 0;
        margin-inline-end: get-size('l'); // Prevents nav bunching
    }

    &__nav {
        padding: get-size('xs') 0;
    }
}