.site-header {
  padding-block-start: #{get-size("s")};
  padding-block-end: #{get-size("l")};

  &__inner {
    justify-content: space-between;
    align-items: baseline;
  }

  &__brand {
    flex-shrink: 0;
    padding-inline-end: #{get-size("l")};

    text-decoration: none;
  }

  &__nav {
    line-height: 1;
  }
}
