.site-header {
  padding: #{get-size("s")} 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    flex-shrink: 0;
    margin-inline-end: #{get-size("l")}; // Prevents nav bunching

    @include apply-utility("text", 2);
    text-decoration: none;
    font-weight: 900;
  }

  &__nav {
    padding: #{get-size("xs")} 0;
  }
}
