.tags-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &[class] {
    margin-inline-start: -#{get-size('s')};
  }

  > * {
    padding-top: #{get-size('s')};
    padding-inline-start: #{get-size('s')};
  }
}
