---
layout: layouts/base.liquid
---
<div class="[ wrapper flow ]">
  <section class="[ intro ] [ cluster ] [ flow-space-xs ]">
    <div class="intro__header">
      <h1 class="weight-bold">
        {{ intro.main }}
      </h1>
    </div>
    <div class="intro__content">
      <p>{{ intro.summary }}</p>
    </div>
  </section>
  <article>
    <h2>Design principles</h2>
    <p>This is some text.</p>
    <section class="[ switcher ] [ flow-space-m ]">
      <div class="box">
        <p>box 1</p>
      </div>
      <div class="box">
        <p>box 2</p>
      </div>
      <div class="box">
        <p>box 3</p>
      </div>
    </section>
  </article>
  <article class="[ page-content ] [ flow ]">
    {{ content }}
  </article>
</div>
