.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flow-space);

  $max-items: 3;
  // Set a sensible default which can be overridden in blocks
  --min-item-width: #{get-utility-value("measure", "compact")};
  --min-width: calc(
    (#{$max-items} * var(--min-item-width)) + (var(--flow-space)) * #{$max-items -
      1}
  );

  & > * {
    flex: 1 1 calc((var(--min-width) - 100%) * 999);
  }

  // No more than $max-items across
  & > :nth-last-child(n + #{$max-items + 1}),
  & > :nth-last-child(n + #{$max-items + 1}) ~ * {
    flex-basis: 100%;
  }
}
